#mainBar {
	position: relative;
	top: 0px;
	left: 0px;
	height: 98px;
	width: 350px;
	color: white;
}

#mainLeft {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 98px;
	width: 248px;
	background-color: #333333;
	border-radius: 10px;
	border: 3px solid white;
	box-sizing: border-box;
}

#mainMaxInt {
	position: absolute;
	height: 98px;
	width: 98px;
	right: 0px;
	background-color: #444444;
	border-radius: 10px;
	line-height: 98px;
	font-size: 72px;
	font-family: OPPOSans-H !important;
	text-align: center;
	text-shadow: 0px 4px 10px rgba(0,0,0,0.3);
	border: 3px solid white;
	box-sizing: border-box;
}

#mainTime {
	position: relative;
	top: 2px;
	left: 4px;
	font-size: 16px;
}

#mainEpicenter {
	position: relative;
	top: 2px;
	left: 4px;
	font-size: 20px;
	line-height: 22px;
	width: 237px;
}

#mainDepth {
	position: absolute;
	bottom: 0px;
	left: 4px;
	font-size: 25px;
}

#mainMagnitude {
	position: absolute;
	bottom: 0px;
	right: 4px;
	font-size: 25px;
}

[id^="subBar"] {
	position: relative;
	left: 0px;
	height: 48px;
	width: 350px;
	color: white;
	margin-top: 4px;
}

[id^="subLeft"] {
	position:absolute;
	top: 0px;
	left: 0px;
	height: 48px;
	width: 298px;
	background-color: #333333;
	border-radius: 10px;
	border: 2px solid white;
	box-sizing: border-box;
}

[id^="subMaxInt"] {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 48px;
	width: 48px;
	background-color: #444444;
	border-radius: 10px;
	line-height: 48px;
	font-size: 30px;
	font-family: OPPOSans-H !important;
	text-align: center;
	text-shadow: 0px 4px 10px rgba(0,0,0,0.3);
	border: 2px solid white;
	box-sizing: border-box;
}

[id^="subTime"] {
	position: relative;
	top: 0px;
	left: 4px;
	font-size: 15px;
}
[id^="subEpicenter"] {
	position: relative;
	top: -5px;
	left: 4px;
	font-size: 20px;
	display: flex;
	align-items: center;
	height: 25px;
}

[id^="subMagnitude"] {
	position:absolute;
	right: 4px;
	font-size: 21px;
	line-height: 44px;
	top: 0px;
}